/** @format */
@import 'bulma/sass/utilities/_all';
@import '~/styles/nord';

.homepageText {
	text-shadow: 1.5px 1.5px $nord0;
	.buttons {
		justify-content: flex-start;
		align-items: baseline;
		@include mobile {
			justify-content: center !important;
		}
		.button {
			display: block;
			text-shadow: none !important;
			color: $nord4;
			background-color: transparent;
			transition: all 250ms;
			margin-right: 2rem !important;
			&:hover {
				border-color: $nord6;
				color: $nord6;
				background-color: rgba(255, 255, 255, 0.1);
			}
			@include mobile {
				margin-right: 0 !important;
			}
		}
	}
	@include mobile {
		display: block;
		text-align: center;
		.subtitle {
			margin-top: 1em !important;
		}
	}
	.line {
		a {
			color: $nord8 !important;
			&:hover {
				color: $nord9 !important;
			}
		}
	}
}
.transparentOverlay,
.bgWrap {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
.transparentOverlay {
	z-index: -1;
	background-color: rgba(46, 52, 64, 0.5) !important;
}
.bgWrap {
	svg {
		height: 100vh !important;
		image {
			object-fit: cover;
		}
	}
	img {
		object-fit: cover;
		height: 100vh !important;
	}
	> div {
		position: absolute;
		left: 0;
		top: 0;
	}
}

.backgroundImage0 {
	object-position: center bottom;
}

.backgroundImage1 {
	object-position: center 95%;
	@include mobile {
		object-position: 40% 95%;
	}
}

.backgroundImage2 {
	object-position: 40% top;
	@include mobile {
		object-position: 35% top;
	}
}

.backgroundImage3 {
	object-position: center center;
	@include mobile {
		object-position: 65% center;
	}
}

.line {
	@include mobile {
		display: block;
	}
}
