/** @format */
@import 'variables.scss';
@import 'header.scss';

.fullscreen-overlay {
	&:not(.navbar) {
		background-color: rgba(0, 0, 0, 0) !important;
	}
}

.vertical-divider {
	margin: 0 5px;
	@include mobile {
		display: none;
	}
}
