/** @format */
@import 'bulma/sass/utilities/_all';

.hellos {
	height: 1em;
	position: relative;
	span {
		position: absolute;
		top: 0;
	}
	@include mobile {
		span {
			display: block;
			width: 100%;
			text-align: center;
		}
	}
}
